/* BotaoTema.css */

body{

    .escuro {
        filter: grayscale(100%);
        background-color: black;
        color: white;
    }
    
    .claro{
    
        filter: grayscale(100%);
        background-color: white;
        color: black;
        
    }

}

.botaoCor{
    margin-bottom: 15%;
    padding: 1%;
    background-color: cadetblue;
    border-radius: 100px;
}